

/* Begin Content */

.card-body{
    text-align: center;
}
.text-top-heading{
    color: firebrick;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: .2rem;
    font-weight: 700;
    margin: 10px auto;
    min-width: 100px;
    padding-left: 10px;
}
.wrap-icon{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    line-height: 90px;
    text-align: center;
    display: inline-block;
    background: firebrick;
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
}
.benefit-icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    line-height: 90px;
    text-align: center;
    display: inline-block;
    background: firebrick;
    color: #fff;
    font-size: 40px;
}
.text-black{

}
strong{
    color: darkred;
}
h2{
    font-family: sans-serif;
}
.heart-cart{
    font-size: 30px;
}

.heart-cart:hover{
    color: firebrick;
}
/* End Content */